.counter {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0.5rem;

	&-color {
		background-color: var(--color, var(--accent));
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 50%;
		flex-shrink: 0;
	}

	button {
		cursor: pointer;
		padding: 0.3rem 1.1rem;
		border-radius: 0.25rem;
		border: 1px solid var(--light-gray);
		color: var(--light-gray);
		background: none;
	}

	&.selected {
		color: var(--color, var(--accent));
		font-weight: bold;
	}

	&.selected,
	&:hover,
	&:focus {
		button {
			background-color: var(--bg, var(--accent-light));
			color: var(--color, var(--accent));
			border-color: var(--color, var(--accent));
			font-weight: bold;
		}
	}
}
