.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--sidebar-width);
	height: 100vh;
	background-color: var(--accent-dark);
	color: var(--white-1);
	border-right: 1px solid var(--accent-dark-3);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	padding: 1rem;
	padding-top: 0;
	box-sizing: border-box;
	z-index: 1000;
	transform: translateX(0);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	&.hidden {
		transform: translateX(-100%);
	}

	&:not(.hidden) {
		& ~ .main-container {
			margin-left: var(--sidebar-width);
		}
	}

	.sidebar-header {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: var(--header-height);

		img {
			height: 40%;
		}

		.sidebar-btn {
			position: absolute;
			right: 1rem;
			width: 2rem;
			height: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			user-select: none;
			font-family: 'Material Symbols Outlined';
			transition: opacity 0.2s ease;
			opacity: 1;
			color: var(--white-1);

			&:not(:hover) {
				opacity: 0.3;
			}
		}
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	h2 {
		font-size: 0.8rem;
		opacity: 0.3;
		font-weight: 100;
		letter-spacing: 0.3em;
		margin-bottom: 0.5rem;
	}

	.copyright {
		margin-top: auto;
		font-size: 0.7rem;
		opacity: 0.3;
	}
}

// Prevent main margin left on small screens
@media (max-width: 768px) {
	.sidebar:not(.hidden) {
		box-shadow: var(--shadow-dark);
	}

	.main-container {
		margin-left: 0 !important;
	}
}
